@import 'tailwindcss';
@import './spacing.css';
@import './type.css';

@source '../views/**/*.blade.php';
@source '../../app/Livewire/**/*.php';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
  --font-sans: 'urw-din', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-condensed: 'urw-din-condensed', var(--font-sans);
  --color-petrol: #19414b;
  --color-sand: #cdb9a0;
  --color-cream: #f0ebe1;
  --color-white: #ffffff;
}

@layer components {
  /* Mapbox marker pin */
  .map-marker {
	@apply h-48 w-36 cursor-pointer;
  }

  .map-marker svg {
	@apply block h-full w-full;
  }
}

strong {
  @apply font-condensed
}

p:not(:last-child),
ul:not(:last-child) {
  @apply mb-12 md:mb-16 xl:mb-20
}
